<div class="circle"></div>
<div class="circles"></div>
<h1 class="heading">Welcome to our </h1>
<h3 class="heading2">Mini Market...</h3>
<img style=" height: 61%;
margin-top: 5%;
" src="https://bizzinfotech.com/images/ecommerce-website.png">
<h1 class="head">Online House Purchasing</h1>
<br><br>
<p class="paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis reprehenderit magnam laboriosam recusandae qui voluptates quia. Facere tempore rerum, architecto repudiandae quo excepturi deserunt animi nisi explicabo asperiores molestiae porro minus nemo reiciendis suscipit! Praesentium ducimus cumque error repellat incidunt natus velit suscipit quia aperiam, rerum maxime consectetur. Nostrum expedita fugit iure, facilis, aperiam, doloribus velit iusto tempore et quod quo culpa ut quia debitis saepe voluptate sunt delectus? Fugiat nisi minima nobis suscipit tempora deleniti, quasi molestiae, quibusdam amet, neque ipsam. Corrupti earum maiores velit, dicta impedit quasi. Dignissimos dolorem distinctio id amet ea inventore facere aliquam error asperiores?</p>