<div class="circle"></div>

<img class="img" src="../../../assets/img/Review.jpg">

<h1 class ="heading">We want your Feedback....</h1>
<br>
<br>    
<p class="paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis nesciunt 
    placeat corporis voluptatum cumque explicabo! Veritatis, accusantium fuga consectetur
     impedit reiciendis repellendus adipisci doloribus qui fugiat possimus incidunt debitis 
     blanditiis quisquam quos asperiores error magni obcaecati nisi eum rem aliquid in dolorem excepturi! 
     Dignissimos officiis, quae ratione architecto iste </p>
 
     <img class="img2" src="https://png.pngtree.com/png-vector/20190929/ourmid/pngtree-good-feedback-and-review-concept-for-customer-satisfaction-png-image_1751235.jpg">
     <br><br>

     <h1 class="head">customers Reviews</h1>
     
     <br><br>
     <div class="row">
<div class="col-md-4" text-center>
  <div class="profile">
    <img class="users" src="https://media.istockphoto.com/id/1158995697/photo/busienssman-stock-image.jpg?s=612x612&w=0&k=20&c=xSvsL_SoqVmOPv1njZLBsm1zHuv-mms2qyVSP7DKCd0=">
<blockquote>Lorem ipsum, dolor sit ametconsectetur adipisicing elit. Tempora,quod impedit qui asperiores iste 
    officiis! Similique voluptate liberoitaque est, quibusdam facilis sapiente id, vel cum nostrum officia repella
     optio iure voluptates velit, debitis nobisb recusandae? Necessitatibus facilis expedita quibusdam soluta 
      molestias voluptas perspiciatis!Quos voluptas illum possimus ab.</blockquote>
   <h3>Gautam Kapoor<span>Co-Founder at Mini-market</span></h3>
  </div>
</div>

<div class="col-md-4" text-center>
  <div class="profile">
    <img class="users" src="https://media.istockphoto.com/id/1158995697/photo/busienssman-stock-image.jpg?s=612x612&w=0&k=20&c=xSvsL_SoqVmOPv1njZLBsm1zHuv-mms2qyVSP7DKCd0=">
<blockquote>Lorem ipsum, dolor sit ametconsectetur adipisicing elit. Tempora,quod impedit qui asperiores iste 
    officiis! Similique voluptate liberoitaque est, quibusdam facilis sapiente id, vel cum nostrum officia repella
     optio iure voluptates velit, debitis nobisb recusandae? Necessitatibus facilis expedita quibusdam soluta 
      molestias voluptas perspiciatis!Quos voluptas illum possimus ab.</blockquote>
   <h3>Gautam Kapoor<span>Co-Founder at Mini-market</span></h3>
  </div>
</div>
<div class="col-md-4" text-center>
  <div class="profile">
    <img class="users" src="https://media.istockphoto.com/id/1158995697/photo/busienssman-stock-image.jpg?s=612x612&w=0&k=20&c=xSvsL_SoqVmOPv1njZLBsm1zHuv-mms2qyVSP7DKCd0=">
<blockquote>Lorem ipsum, dolor sit ametconsectetur adipisicing elit. Tempora,quod impedit qui asperiores iste 
    officiis! Similique voluptate liberoitaque est, quibusdam facilis sapiente id, vel cum nostrum officia repella
     optio iure voluptates velit, debitis nobisb recusandae? Necessitatibus facilis expedita quibusdam soluta 
      molestias voluptas perspiciatis!Quos voluptas illum possimus ab.</blockquote>
   <h3>Gautam Kapoor<span>Co-Founder at Mini-market</span></h3>
  </div>
</div>
</div>
    